<section>
    <h2>Authenticate</h2>

    <!-- ko ifnot: isLogged -->
    <form action="post" data-bind="submit: tryAuthenticate">
        <fieldset>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" value="">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" value="">
            </div>
            <button type="submit" class="btn btn-default btn-primary">Login</button>
        </fieldset>
    </form>
    <!-- /ko -->



    <!-- ko if: isLogged -->
    <form action="post" data-bind="submit: logout">
        <fieldset>
            <button type="submit" class="btn btn-default">Logout</button>
        </fieldset>
    </form>

    <h3>User Info</h3>

    <p><code>/api/v1.0/me</code></p>
    <h4>Response</h4>
    <pre><code class="html" data-bind="text: response.me"></code></pre>



    <!-- /ko -->
</section>
